*{
  margin: 0;
  padding: 0;

}
body{
  background-color: #548687;
  text-align: center;
}

.container{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game{
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:1.5vmin;
}

.box{
  height: 18vmin;
  width: 18vmin;
  border: none;
  border-radius: 0.7rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  font-size: 8vmin;
  color: #b0423e;
  background-color: #fff4c1;
}

#reset-btn{
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#new-btn {
 padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
  opacity: 90%;
}

#msg{
  color: #ffffc7;
  margin: 10px 10px;
  font-size: 8vmin;
  margin-bottom: 20px;
  margin-top: 20px;
}

h1{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 30px;
  font-size: 7vmin;
}

.hide{
display: none;
}